.bg_cmt{
    width: 730px;
    margin: auto;
    background-color: #fff;
    padding: 12px;
    margin-top: 12px;
    border-radius: 4px;
}
.fir{
    display: flex;
    align-items: baseline;
}
.cmt{
    width: 100%;
}
/* Tiêu đề */
h1 {
text-align: center;
font-size: 40px;
margin: 12px 0px;
color: #333;
font-family: "Rubik", sans-serif;
}

/* Bảng */
table {
width: 80%;
margin: 30px auto;
border-collapse: collapse;
font-family: Arial, sans-serif;
font-size: 16px;
color: #555;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
overflow: hidden;
}

/* Hàng đầu tiên */
table th {
background-color: #4A69E2;
color: #fff;
padding: 12px;
text-align: center;
font-weight: bold;
}

/* Hàng dữ liệu */
table td {
padding: 12px;
text-align: center;
border-bottom: 1px solid #ddd;
}


table td img {
max-width: 80px;
height: auto;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


table tr:nth-child(odd) {
background-color: #f9f9f9;
}

table tr:nth-child(even) {
background-color: #fff;
}

/* Hiệu ứng hover */
table tr:hover {
background-color: #f1f5fc;
cursor: pointer;
}

/* Tổng tiền và các hành động */
.cartInTable {
font-size: 18px;
text-align: center;
color: #555;
font-weight: bold;
text-decoration: none;
}

/* Tùy chỉnh tổng tiền */
.cartInTable {
font-size: 20px;
font-weight: bold;
color: #333;
}

.cartInTable a {
color: #4A69E2;
text-decoration: none;
transition: color 0.3s;
}

.cartInTable a:hover {
color: #1d4ed8;
}